.body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    padding-top: 30px;
    padding-left: 75px;
}   

.cardwrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 100px;
    margin-left: -15px;
    flex-wrap: wrap;
}

.sort {
    display: flex;
    flex-direction: row;
    height: 40px;
}

.sort select {
    height: 40px;
    outline: none;
    width: 150px;
}

.search {
    width: 50%;
    height: 40px;
    border-radius: 30px;
    outline: none;
    margin-right: 10px;

}

.paginationbttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left:215px;
}

.paginationbttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
  }
  
  .paginationbttns a:hover {
    color: blue;
    /* background-color: #2b2eff; */
  }

  .paginationActive a {
    color: white;
    background-color: rgb(255, 115, 0);
  }
  
  .paginationDisabled a {
    color: grey;
    background-color: white;
  }
@media (max-width: 576px) {
    .main-wrap {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    
    .container {
        width: 100%;
        display: flex;
        justify-content: center ;
        margin-top: 50px;
    }
    
    .title-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    
    .title-new, .title-popular {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    
    h2, h5 {
        margin: 5px;
    }
    
    h2 {
        margin-top: 50px;
        font-size: 30px;
    }
    
    .cardwrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
